/**
 * Style Guide
 * --------------------------------------------------
 */

.style-guide {

  .swatches {
    @include make-row();

    .swatch {
      @include make-col();
      @include make-col-span(6);

      @include media-breakpoint-up(lg) {
        @include make-col-span(3);
      }

      .swatch-color {
        height: 100px;
        width: 100%;
        background: black;
        display: block;
        margin-bottom: $grid-gutter-width / 3;
      }

      .swatch-name {
        text-transform: uppercase;
        font-weight: bold;
      }

      .swatch-hex {
        @extend .text-muted;
        font-family: $font-family-monospace;

        &:after {
          content: '#000';
          display: block;
          text-transform: uppercase;
        }
      }
    }

    .swatch-1 {
      .swatch-color {
        background-color: $swatch-1;
      }

      .swatch-hex:after {
        content: '#{$swatch-1}';
      }
    }

    .swatch-2 {
      .swatch-color {
        background-color: $swatch-2;
      }

      .swatch-hex:after {
        content: '#{$swatch-2}';
      }
    }

    .swatch-3 {
      .swatch-color {
        background-color: $swatch-3;
      }

      .swatch-hex:after {
        content: '#{$swatch-3}';
      }
    }

    .swatch-4 {
      .swatch-color {
        background-color: $swatch-4;
      }

      .swatch-hex:after {
        content: '#{$swatch-4}';
      }
    }

    .swatch-5 {
      .swatch-color {
        background-color: $swatch-5;
      }

      .swatch-hex:after {
        content: '#{$swatch-5}';
      }
    }

    .swatch-6 {
      .swatch-color {
        background-color: $swatch-6;
      }

      .swatch-hex:after {
        content: '#{$swatch-6}';
      }
    }
  }

  .text-muted {
    font-weight: normal;
  }

  .help-block {
    @extend .small;
    white-space: normal;
  }

  code {
    white-space: nowrap;
  }

  .style-guide-heading {
    padding-bottom: $grid-gutter-width;
    color: $swatch-1;

    h2 {
      margin-top: 0;
      color: $swatch-1;
    }

    .help-block {
      font-weight: bold;
    }
  }

  .style-guide-content {
    padding-bottom: $grid-gutter-width;

    dl {
      @include make-row();
      margin-bottom: 0;
    }

    dt {
      clear: left;
      text-align: left;

      @include media-breakpoint-up(sm) {
        @include make-col();
        @include make-col-span(4);
      }

      @include media-breakpoint-up(lg) {
        @include make-col-span(3);
      }
      
    }

    dd {
      margin-left: 0;
      
      @include media-breakpoint-up(sm) {
        @include make-col();
        @include make-col-span(8);
      }
      @include media-breakpoint-up(lg) {
        @include make-col-span(9);
      }
    }

    dt,
    dd {
      padding-bottom: $grid-gutter-width /2;
      color: $body-color;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}

/**
 * Style Guide: Media Queries
 * --------------------------------------------------
 */

@include media-breakpoint-down(sm) {
  .style-guide {
    dl > dt {
      padding-bottom: $grid-gutter-width / 3;
    }
    dl > dd {
      padding-bottom: $grid-gutter-width / 2;

      dl > dt {
        padding-bottom: $grid-gutter-width / 6;
      }

      dl > dd {
        .btn {
          margin-bottom: $grid-gutter-width / 6;
        }
      }
    }
  }
}
