/**
 * Custom Variables (For Example Only!)
 * --------------------------------------------------
 */

// typography
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

// colors
$swatch-1: $brand-primary;
$swatch-2: $brand-success;
$swatch-3: $brand-info;
$swatch-4: $brand-warning;
$swatch-5: $brand-danger;
$swatch-6: $gray-light;
