.main-wrapper {
	display: table;
	width: 100%
}
.main-row {
	display: table-row;
}
.sidebar {

	@include media-breakpoint-up(md) {
		display: table-cell;
		vertical-align: top;
		width: 300px;
	}
}

.main-content {
	background: $main-content-bg;
	box-shadow: inset 1px 0 5px rgba(0, 0, 0, 0.3);
	padding: 0 $grid-gutter-width / 2 $grid-gutter-width / 2; 

	@include media-breakpoint-up(md) {
		display: table-cell;
		vertical-align: top;
	}	
}

.main-display {
}