.box-stat {
	// background: #555;
	// color: #fff;
}

.stat {
    text-align: center;
}

.stat-number {
	font-size: 45px;
    font-weight: 700;
    line-height: 1;
}

.stat-label {
	margin: 5px 0 0;
	font-size: 16px;
}