---
layout:         default
---

{% assign author = site.data.authors[page.author] %}

<article class="blog-post">
  <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <p>
    by {{ author.name }} on
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%a, %b %e, %Y" }}</time>
  </p>
  {{ content }}
</article>

{% if site.related_posts.length >= 1 %}
  <aside>
    <h2>Related Posts</h2>

    {% for post in site.related_posts | limit:3 %}
      {% assign author = site.data.authors[post.author] %}
      <section class="blog-post">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>
          by {{ author.name }} on
          <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%a, %b %e, %Y" }}</time>
        </p>
        {{ post.excerpt }}
        <p><a href="{{ post.url }}">Read more</a></p>
      </section>
    {% endfor %}

    <p><a href="{{ site.links.blog }}" class="more">See more posts</a></p>
  </aside>
{% endif %}
