.main-header { // can't name it just 'header' because sass doesn't like it
	border-bottom: 1px solid #ccc;
	padding: $grid-gutter-width / 2;
	margin: 0 (-$grid-gutter-width / 2) $grid-gutter-width / 2;
}

.header-title {
	font-size: 25px;
	// font-weight: 300;
	margin: 0;
}