/**
 * Default Application Styles
 * --------------------------------------------------
 */

// Define include paths
@vendor_path: '../node_modules';
@framework_path: './_framework';
@module_path: './_modules';
@object_path: './_objects';

// Import Twitter Bootstrap
@import '@{framework_path}/_bootstrap';

/**
 * Custom Modules (Remember: Mobile First)
 * --------------------------------------------------
 */

@import '@{module_path}/_accessibility';
@import '@{module_path}/_errors';
@import '@{module_path}/_fonts';
// @import '@{module_path}/_jcf'; (optional, please don't use)
@import '@{module_path}/_style-guide';

/**
 * Custom Objects (Remember: Mobile First)
 * --------------------------------------------------
 */
@import '@{object_path}/_example';
